.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.textbox {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.title, .text {
    margin: 0;
    text-align: center;
}


.box {
    position: absolute;
    bottom: 400px; /* 요소의 하단이 부모 컨테이너의 하단에서 380px 위에 위치한다는 뜻 */
    left: 50%; /* 요소를 부모 컨테이너의 가운데 정렬합니다. */
    transform: translateX(-50%); /* 요소를 자신의 너비의 절반만큼 왼쪽으로 이동시켜 가운데 정렬을 보정합니다. */
    /*left: 50%;로 요소의 왼쪽 경계선을 부모 컨테이너의 가운데에 맞춥니다.
    transform: translateX(-50%);로 요소를 자신의 너비의 절반만큼 왼쪽으로 이동시킵니다.
    이 두 가지를 결합하여 요소의 가로축 중심이 부모 컨테이너의 가로축 중심과 일치하게 됩니다.*/
    width: 400px;
    height: 100px; /* 높이를 이미지의 하단에 맞게 조정 */
    background-color: rgba(115, 89, 89, 0.696);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center; /* 텍스트 중앙 정렬 */
}


.buttonbox {
    position: absolute;
    bottom: 70px; /* 버튼 위치 조정 */
    width: 30%;
    display: flex;
    justify-content: center;
    z-index: 2; /* 버튼이 textbox와 box 위에 오도록 배치 */
}


.buttonbox button {
    padding: 10px 20px;
    background-color: #dad08bc1; /* 버튼 배경 색상 */
    color: rgb(255, 255, 255);
    border: 2.5px dotted #ffffff;
    border-radius: 5px; /*버튼 모서리 둥글게*/
    font-size: 18px; /* 버튼 글씨 크기 */
    cursor: pointer; /*커서 움직임 시 버튼이 클릭 가능한 것임을 나타냄*/
    text-align: center;
    font-family: "Gaegu", sans-serif;
    width: auto;
    height: auto;
}

/* 여기서부터 JS로 인한 css 변경 */

 
.detail {
    display: none;
    font-size: smaller;
    position: absolute;  /*위치를 절대 위치로 변경*/
    background: #fff;  /*배경색 추가*/
    border: 1px solid #ddd;  
    padding: 5px;  
    z-index: 10;   
    color: #000;
}

.location {
    font-size: smaller;
    cursor: pointer;  
    position: relative;  /*상대 위치 지정*/ 
    display: block;  /*블록 요소로 변경하여 한 줄에 하나씩 표시*/
    margin-bottom: 10px;  /*항목 간 간격 추가 */
}        

.location:hover .detail {
    display: block;  /*위치 위로 마우스가 이동하면 세부 정보 표시*/
} 